In [ ]:
import psycopg2

# create db connnection
def create_connection():
    try:
        connnection = psycopg2.connect(
            dbname="MusicStreamingDB",
            user="postgres",
            password="postgres",
            host="localhost"
        )
        return connnection
    except Exception as e:
        print('Error connecting to the db:', e)
        return None

    connection.create_connection()
    cursor = connection.cursor()

In [ ]:
# Function to execute SQL query and print the result
def execute_sql(query, fetch_result=False):
    connection = create_connection()
    if connection:
        try:
            cursor = connection.cursor()
            cursor.execute(query)
            
            if fetch_result:
                result = cursor.fetchall()  # Fetch all results for SELECT queries
                return result  # Return result to be printed by the caller
            
            connection.commit()  # Commit changes 
            print("Query executed successfully.")
        except Exception as e:
            print("Error executing SQL query:", e)
        finally:
            cursor.close()
            connection.close()

# Function to run a query and print results for SELECT queries
def execute_and_print_query(query):
    result = execute_sql(query, fetch_result=True)
    if result:
        for row in result:
            print(row)
    else:
        print("No data returned.")

In [ ]:
'''
    #8 An example of a view that has a hard-coded criteria, by which the content of the view may change upon changing the hard-coded value
'''
# This query will display the spotify song's with a popularity score above 80
QUERY = """
CREATE OR REPLACE VIEW HighPopularitySpotifySongs AS 
SELECT S.title, S.artist, S.genre, SS.spotify_popularity_score AS popularity_scr
FROM songs S
JOIN spotifySongs SS ON S.song_id = SS.song_id
WHERE SS.spotify_popularity_score > 80;
"""
execute_and_print_query(QUERY)

In [ ]:
'''
    #9 Two queries that demonstrate the overlap and covering constraints.
'''
# Overlap:
QUERY1 = """
SELECT S.title FROM Songs S
JOIN SpotifySongs SS ON S.song_id = SS.song_id
JOIN LastfmSongs LFMS ON S.song_id = LFMS.song_id;
"""

# Covering:
QUERY2= """ 
SELECT S.title 
FROM Songs S 
WHERE NOT EXISTS (
    SELECT 1 FROM SpotifySongs AS SS 
    WHERE SS.song_id = S.song_id
)
AND NOT EXISTS (
    SELECT 1 FROM LastfmSongs AS LFMS
    WHERE LFMS.song_id = S.song_id
);
"""
execute_and_print_query(QUERY1)
execute_and_print_query(QUERY2)

In [ ]:
'''
    #10 Two implementations of the division operator using 
         a) a regular nested query using NOT IN 
         b) a correlated nested query using NOT EXISTS and EXCEPT 
'''
# Both questies ensure that a song exists in both Spotify and Sound Cloud
# Using NOT IN:
QUERY1 = """
SELECT S.title FROM Songs S
WHERE S.song_id NOT IN (
    SELECT SS.song_id FROM Songs S
    LEFT JOIN SpotifySongs SS ON S.song_id = SS.song_id
    WHERE SS.song_id IS NULL
)
AND S.song_id NOT IN (
    SELECT LFMS.song_id FROM Songs S 
    LEFT JOIN LastfmSongs LFMS ON S.song_id = LFMS.song_id
    WHERE LFMS.song_id IS NULL
);
"""

# Using NOT EXISTS and EXCEPT:
QUERY2 = """ 
SELECT S.title FROM Songs S
WHERE NOT EXISTS (
    SELECT 1 FROM (
        SELECT song_id FROM SpotifySongs
        EXCEPT 
        SELECT song_id FROM LastfmSongs
    ) AS SpotifyButNotInSoundCloud
    WHERE S.song_id = SpotifyButNotInSoundCloud.song_id
);
"""
execute_and_print_query(QUERY1)
execute_and_print_query(QUERY2)

In [ ]:
# 4 Queries to demonstrate various join types on the same tables: inner vs. outer
# (left and right) vs. full join. Use of null values in the database to show the differences
# is required.

# An INNER JOIN returns records that have matching values in both tables.

QUERY1 = """
SELECT
    S.title,
    S.artist,
    SS.spotify_popularity_score,
    LF.lastfm_stream_count
FROM
    Songs S
INNER JOIN
    SpotifySongs SS ON S.song_id = SS.song_id
INNER JOIN
    LastfmSongs LF ON S.song_id = LF.song_id;
"""

# A LEFT OUTER JOIN returns all records from the left table (Songs), and the matched records from the right tables (SpotifySongs and LastfmSongs). If there is no match, the result is NULL on the side of the right table.

QUERY2 = """
SELECT
    S.title,
    S.artist,
    SS.spotify_popularity_score,
    LF.lastfm_stream_count
FROM
    Songs S
RIGHT OUTER JOIN
    SpotifySongs SS ON S.song_id = SS.song_id
RIGHT OUTER JOIN
    LastfmSongs LF ON S.song_id = LF.song_id;
"""

# A RIGHT OUTER JOIN returns all records from the right table and the matched records from the left table. If there is no match, the result is NULL on the side of the left table.

QUERY3 = """
SELECT
    S.title,
    S.artist,
    SS.spotify_popularity_score,
    LF.lastfm_stream_count
FROM
    Songs S
FULL OUTER JOIN
    SpotifySongs SS ON S.song_id = SS.song_id
FULL OUTER JOIN
    LastfmSongs LF ON S.song_id = LF.song_id;
"""

# A FULL OUTER JOIN returns all records when there is a match in either left or right table. If there is no match, the result is NULL on the side that doesn't have a match.

QUERY4 = """

SELECT
    S.title,
    S.artist,
    SS.spotify_popularity_score,
    LF.lastfm_stream_count
FROM
    Songs S
FULL OUTER JOIN
    SpotifySongs SS ON S.song_id = SS.song_id
FULL OUTER JOIN
    LastfmSongs LF ON S.song_id = LF.song_id;
"""
execute_and_print_query(QUERY1)
execute_and_print_query(QUERY2)
execute_and_print_query(QUERY3)
execute_and_print_query(QUERY4)

In [ ]:
# 6 A couple of examples to demonstrate correlated queries.

# Listing Songs with More Last.fm Streams Than Any Other Song by the Same Artist
QUERY1 = """
SELECT
    S.title,
    S.artist,
    LF.lastfm_stream_count
FROM
    Songs S
JOIN
    LastfmSongs LF ON S.song_id = LF.song_id
WHERE
    LF.lastfm_stream_count > ALL (
        SELECT
            LF2.lastfm_stream_count
        FROM
            Songs S2
        JOIN
            LastfmSongs LF2 ON S2.song_id = LF2.song_id
        WHERE
            S2.artist = S.artist
            AND S2.song_id <> S.song_id
    );
"""


execute_and_print_query(QUERY1)

In [ ]:

# This query retrieves songs whose Spotify popularity score exceeds the average popularity score for their genre.

QUERY2 = """

SELECT
    S.title,
    S.artist,
    S.genre,
    SS.spotify_popularity_score
FROM
    Songs S
JOIN
    SpotifySongs SS ON S.song_id = SS.song_id
WHERE
    SS.spotify_popularity_score > (
        SELECT
            AVG(SS2.spotify_popularity_score)
        FROM
            Songs S2
        JOIN
            SpotifySongs SS2 ON S2.song_id = SS2.song_id
        WHERE
            S2.genre = S.genre
    );
"""

execute_and_print_query(QUERY2)

In [ ]:
# 7 One example per set operations: intersect, union, and difference vs. their equivalences
# without using set operations.

# The INTERSECT operation returns rows that are common to both result sets.

QUERY1 = """

SELECT title, artist
FROM Songs
WHERE song_id IN (SELECT song_id FROM SpotifySongs)
INTERSECT
SELECT title, artist
FROM Songs
WHERE song_id IN (SELECT song_id FROM LastfmSongs);
"""

execute_and_print_query(QUERY1)

In [ ]:
# Using an INNER JOIN to find common entries

QUERY2 = """
SELECT DISTINCT S.title, S.artist
FROM Songs S
JOIN SpotifySongs SS ON S.song_id = SS.song_id
JOIN LastfmSongs LF ON S.song_id = LF.song_id;
"""
execute_and_print_query(QUERY2)

In [ ]:
# The UNION operation combines the results of two queries, removing duplicates.

QUERY3 = """

SELECT title, artist
FROM Songs
WHERE song_id IN (SELECT song_id FROM SpotifySongs)
UNION
SELECT title, artist
FROM Songs
WHERE song_id IN (SELECT song_id FROM LastfmSongs);
"""

execute_and_print_query(QUERY3)

In [ ]:
# Using a FULL OUTER JOIN and COALESCE to combine results:

QUERY4 = """

SELECT DISTINCT COALESCE(S1.title, S2.title) AS title,
                COALESCE(S1.artist, S2.artist) AS artist
FROM (SELECT S.title, S.artist
      FROM Songs S
      JOIN SpotifySongs SS ON S.song_id = SS.song_id) S1
FULL OUTER JOIN
     (SELECT S.title, S.artist
      FROM Songs S
      JOIN LastfmSongs LF ON S.song_id = LF.song_id) S2
ON S1.title = S2.title AND S1.artist = S2.artist;
"""
execute_and_print_query(QUERY4)

In [ ]:
# The EXCEPT operation returns rows from the first query that are not present in the second query.


QUERY5 = """

SELECT title, artist
FROM Songs
WHERE song_id IN (SELECT song_id FROM SpotifySongs)
EXCEPT
SELECT title, artist
FROM Songs
WHERE song_id IN (SELECT song_id FROM LastfmSongs);
"""

execute_and_print_query(QUERY5)

In [ ]:
# Using a LEFT JOIN and filtering for NULL values:

QUERY6 = """

SELECT DISTINCT S.title, S.artist
FROM Songs S
JOIN SpotifySongs SS ON S.song_id = SS.song_id
LEFT JOIN LastfmSongs LF ON S.song_id = LF.song_id
WHERE LF.song_id IS NULL;
"""

execute_and_print_query(QUERY6)